<a href="https://colab.research.google.com/github/aminsadruddin/Pandas-Classes-/blob/main/Pandas_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

Basic data structures in pandas
Pandas provides two types of classes for handling data:

- `Series` :   A one-dimensional labeled array holding data of any type
such as integers, strings, Python objects etc. (Column in Spreadsheet)
- `DataFrame` :   A two-dimensional data structure that holds data like a two-dimension array or a table with rows and columns.

In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Pandas
# Series
# Dataframe
# Indesing and Slicing
# Data input and Output
# data cleaning and processing

## Series

In [4]:
# series
# 1 dimensional labeled array, capable to holding any data (int,str,floot)
# coloum in speratesheet or 1 dimensional
data = pd.Series([1,2,3,4,5,6,7,8,9,10])
print (data)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [5]:
# series with index
# row means index

data1 = pd.Series([1,2,3,4,5], index = ["a","b","c","d","e"])
print (data1)

dada2 = pd.Series([1,2,3,4,5], index = [1,2,3,4,5])
print (dada2)

a    1
b    2
c    3
d    4
e    5
dtype: int64
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [6]:
print (data1[3])
print (data1["a"])

4
1

<ipython-input-6-6d55cdc23e66>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print (data1[3])

In [7]:
# Creating a Series from a Dictionary
import pandas as pd

data2 = pd.Series({"a":1,"b":2,"c":3,"d":4,"e":5})
print (data2)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [8]:
# Scale Value
import pandas as pd
data3 = pd.Series(5, index = ["a","b","c","d","e"])
print (data3)

a    5
b    5
c    5
d    5
e    5
dtype: int64

In [9]:
data33 = pd.Series(5)
print (data33)

0    5
dtype: int64

In [10]:
data34 = pd.Series(5, index = ["a"])
print (data34)

a    5
dtype: int64

In [11]:
data35 = pd.Series(6, index = ["a","b","c","d","e"])
print (data35)

a    6
b    6
c    6
d    6
e    6
dtype: int64

In [12]:
print (data3[0])
print (data3[3])
print (data2[0])
print (data1[3])
print (data1["a"])
print (data1["e"])

5
5
1
4
1
5

<ipython-input-12-9eac568703ab>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print (data3[0])
<ipython-input-12-9eac568703ab>:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print (data3[3])
<ipython-input-12-9eac568703ab>:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print (data2[0])
<ipython-input-12-9eac568703ab>:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print (data1[3])

In [13]:
print (data1["a"])

1

In [14]:
# Slicing

data4 = pd.Series([10,20,30,40,50,60,70,80,90,100], index = ["a","b","c","d","e","f","g","h","i","j"])
print (data4)

a     10
b     20
c     30
d     40
e     50
f     60
g     70
h     80
i     90
j    100
dtype: int64

In [15]:
data4 [0:5]  # posotional Slicing

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [16]:
data4["a":"g"] # Label Slicing

a    10
b    20
c    30
d    40
e    50
f    60
g    70
dtype: int64

In [17]:
# Operations on pandas series
# arithmatic Operations

data5 = pd.Series([1,2,3,4,5], index = ["a","b","c","d","e"])
data6 = pd.Series([10,20,30,40,50], index = ["a","b","c","d","e"])
print (data5)
print (data6)

a    1
b    2
c    3
d    4
e    5
dtype: int64
a    10
b    20
c    30
d    40
e    50
dtype: int64

In [18]:
data7 = data4 + data5
print (data7)

a    11.0
b    22.0
c    33.0
d    44.0
e    55.0
f     NaN
g     NaN
h     NaN
i     NaN
j     NaN
dtype: float64

In [19]:
data8 = data5+data6
print (data8)

a    11
b    22
c    33
d    44
e    55
dtype: int64

In [20]:
print (data7)
print (data7.isnull())

a    11.0
b    22.0
c    33.0
d    44.0
e    55.0
f     NaN
g     NaN
h     NaN
i     NaN
j     NaN
dtype: float64
a    False
b    False
c    False
d    False
e    False
f     True
g     True
h     True
i     True
j     True
dtype: bool

In [21]:
print (data7.isnull())

a    False
b    False
c    False
d    False
e    False
f     True
g     True
h     True
i     True
j     True
dtype: bool

In [22]:
# multiply and +

data9 = data5 * data6
print (data5)
print (data6)
print ("result")
print (data9)

a    1
b    2
c    3
d    4
e    5
dtype: int64
a    10
b    20
c    30
d    40
e    50
dtype: int64
result
a     10
b     40
c     90
d    160
e    250
dtype: int64

In [23]:
# square

print (data6)

import numpy as np
data10 = np.sqrt(data6)
print (data10)

a    10
b    20
c    30
d    40
e    50
dtype: int64
a    3.162278
b    4.472136
c    5.477226
d    6.324555
e    7.071068
dtype: float64

In [24]:
# BOOLEAN index

print (data6)
print (data6 > 20)

a    10
b    20
c    30
d    40
e    50
dtype: int64
a    False
b    False
c     True
d     True
e     True
dtype: bool

In [25]:
print (data6[data6 > 20])

c    30
d    40
e    50
dtype: int64

In [26]:
# Sum
print (data6.sum())

150

In [27]:
# mean
print (data6.mean())

30.0

In [28]:
# count
print (data6.count())

5

In [29]:
# delet
data6 = data6.drop("a") # drop is dele row of series
print (data6)

b    20
c    30
d    40
e    50
dtype: int64

In [30]:
data6 = pd.Series([10,20,30,40,50,60,10,10] , index = ["a","b","c","d","e","f","g","h"])
print (data6)
data6[:-1]

a    10
b    20
c    30
d    40
e    50
f    60
g    10
h    10
dtype: int64

a    10
b    20
c    30
d    40
e    50
f    60
g    10
dtype: int64

In [31]:
# unique
print (data6.unique())

[10 20 30 40 50 60]

In [32]:
# value_count
print (data6.value_counts())

10    3
20    1
30    1
40    1
50    1
60    1
Name: count, dtype: int64

In [33]:
## Detecting Missing Data
import numpy as np
import pandas as pd
data_nun = pd.Series([1,2,3,np.nan,5,6,np.nan,8,9,10])
print (data_nun)
print ("________________________")

# Detecting Missing Data   .isna()    always boolean

print(data_nun.isna())

0     1.0
1     2.0
2     3.0
3     NaN
4     5.0
5     6.0
6     NaN
7     8.0
8     9.0
9    10.0
dtype: float64
________________________
0    False
1    False
2    False
3     True
4    False
5    False
6     True
7    False
8    False
9    False
dtype: bool

In [34]:
# filling the missing data
print (data_nun.fillna(0))
print ("________________________")
data_nun.fillna("a")

0     1.0
1     2.0
2     3.0
3     0.0
4     5.0
5     6.0
6     0.0
7     8.0
8     9.0
9    10.0
dtype: float64
________________________

0     1.0
1     2.0
2     3.0
3       a
4     5.0
5     6.0
6       a
7     8.0
8     9.0
9    10.0
dtype: object

## DataFrame

In [35]:
# A two-dimensional data structure that holds data like a two-dimension array or a table with rows and columns.

# datafram from dictonary
data = { "Name": [ "Amin" , " Karim", "Saleem" , "Aslam"],
         "Age": [40,38,42,50],
         "city": [ "karachi","lahore","islamabad","newyork" ],
          "work":[ "Banking", "officer", "boss", "burse"]}

data_fram = pd.DataFrame(data)

In [36]:
print (data_fram)

     Name  Age       city     work
0    Amin   40    karachi  Banking
1   Karim   38     lahore  officer
2  Saleem   42  islamabad     boss
3   Aslam   50    newyork    burse

In [37]:
data_fram.head()

     Name  Age       city     work
0    Amin   40    karachi  Banking
1   Karim   38     lahore  officer
2  Saleem   42  islamabad     boss
3   Aslam   50    newyork    burse

In [38]:
data_fram.describe()

             Age
count   4.000000
mean   42.500000
std     5.259911
min    38.000000
25%    39.500000
50%    41.000000
75%    44.000000
max    50.000000

In [39]:
data_fram.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   city    4 non-null      object
 3   work    4 non-null      object
dtypes: int64(1), object(3)
memory usage: 256.0+ bytes

In [40]:
data_fram.shape

(4, 4)

In [41]:
print("rows ", data_fram.shape[1])

rows  4

In [42]:
for i in data_fram.columns:
  print(i)

Name
Age
city
work

In [43]:
data_fram.tail()

     Name  Age       city     work
0    Amin   40    karachi  Banking
1   Karim   38     lahore  officer
2  Saleem   42  islamabad     boss
3   Aslam   50    newyork    burse

In [44]:
data_fram.columns

Index(['Name', 'Age', 'city', 'work'], dtype='object')

In [45]:
data_fram.count()

Name    4
Age     4
city    4
work    4
dtype: int64

In [46]:
data_fram.max()

Name     Saleem
Age          50
city    newyork
work    officer
dtype: object

In [47]:
data_fram.min()

Name        Karim
Age            38
city    islamabad
work      Banking
dtype: object

In [48]:
data_fram.sum()

Name            Amin KarimSaleemAslam
Age                               170
city    karachilahoreislamabadnewyork
work          Bankingofficerbossburse
dtype: object

# **Introduction to Pandas**

### Importing Pandas

In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Importing Data

In [50]:
# importing csv file
# df = pd.read_csv('datasets/nobel.csv') # by default delimiter is comma
# df = pd.read_csv('datasets/nobel.csv', delimiter=',')

### import files from google drive

In [51]:
!pip install gdown

Requirement already satisfied: gdown in /usr/local/lib/python3.10/dist-packages (5.2.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from gdown) (4.12.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from gdown) (3.16.1)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.10/dist-packages (from gdown) (2.32.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from gdown) (4.66.6)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->gdown) (2.6)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (2024.8.30)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (1.7.1)

In [52]:
import gdown

In [53]:
# importing csv file
df = pd.read_csv('/content/drive/MyDrive/Saylani-CDE-Batch1-master/Pandas/Pandas/datasets/nobel.csv') # by default delimiter is comma

In [54]:
# importing excel file
df_titanic = pd.read_excel('/content/drive/MyDrive/Saylani-CDE-Batch1-master/Pandas/Pandas/datasets/Titanic.xlsx') # sheet name is required if you have multiple sheets by default it will capture 1st sheet only

In [55]:
# import tsv file
df_disaster = pd.read_csv('/content/drive/MyDrive/Saylani-CDE-Batch1-master/Pandas/Pandas/datasets/Disaster_Vulnerability_Map.tsv',delimiter='\t')

### Seeing Sample Data

In [56]:
# To see first 5 rows of the dataset
df.head()

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,NaN,NaN,NaN,1907-09-07,Châtenay,France
2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,1917-03-31,Marburg,Germany
3,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,NaN,NaN,NaN,1910-10-30,Heiden,Switzerland
4,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,463,Individual,Frédéric Passy,1822-05-20,Paris,France,Male,NaN,NaN,NaN,1912-06-12,Paris,France

In [57]:
# To see first 10 rows of the dataset
df.head(10)

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,NaN,NaN,NaN,1907-09-07,Châtenay,France
2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,1917-03-31,Marburg,Germany
3,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,NaN,NaN,NaN,1910-10-30,Heiden,Switzerland
4,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,463,Individual,Frédéric Passy,1822-05-20,Paris,France,Male,NaN,NaN,NaN,1912-06-12,Paris,France
5,1901,Physics,The Nobel Prize in Physics 1901,"""in recognition of the extraordinary services ...",1/1,1,Individual,Wilhelm Conrad Röntgen,1845-03-27,Lennep (Remscheid),Prussia (Germany),Male,Munich University,Munich,Germany,1923-02-10,Munich,Germany
6,1902,Chemistry,The Nobel Prize in Chemistry 1902,"""in recognition of the extraordinary services ...",1/1,161,Individual,Hermann Emil Fischer,1852-10-09,Euskirchen,Prussia (Germany),Male,Berlin University,Berlin,Germany,1919-07-15,Berlin,Germany
7,1902,Literature,The Nobel Prize in Literature 1902,"""the greatest living master of the art of hist...",1/1,571,Individual,Christian Matthias Theodor Mommsen,1817-11-30,Garding,Schleswig (Germany),Male,NaN,NaN,NaN,1903-11-01,Charlottenburg,Germany
8,1902,Medicine,The Nobel Prize in Physiology or Medicine 1902,"""for his work on malaria, by which he has show...",1/1,294,Individual,Ronald Ross,1857-05-13,Almora,India,Male,University College,Liverpool,United Kingdom,1932-09-16,Putney Heath,United Kingdom
9,1902,Peace,The Nobel Peace Prize 1902,NaN,1/2,464,Individual,Élie Ducommun,1833-02-19,Geneva,Switzerland,Male,NaN,NaN,NaN,1906-12-07,Bern,Switzerland

In [58]:
# To see first 2 rows of the dataset
df.head(2)

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,NaN,NaN,NaN,1907-09-07,Châtenay,France

In [59]:
df_titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,We

In [60]:
df_disaster.head()

,FID,AFFGEOID,TRACTCE,ST,STATE,ST_ABBR,STCNTY,COUNTY,FIPS,LOCATION,...,F_CROWD,F_NOVEH,F_GROUPQ,F_THEME4,F_TOTAL,E_UNINSUR,M_UNINSUR,EP_UNINSUR,MP_UNINSUR,E_DAYPOP
0,-1,1400000US36065023400,23400,36,New York,NY,36065,Oneida,36065023400,"Census Tract 234, Oneida County, New York",...,0,0,1,1,2,154,125,3.6,2.9,10017
1,-1,1400000US36065023501,23501,36,New York,NY,36065,Oneida,36065023501,"Census Tract 235.01, Oneida County, New York",...,0,0,0,0,1,151,100,6.3,4.2,912
2,-1,1400000US36065023502,23502,36,New York,NY,36065,Oneida,36065023502,"Census Tract 235.02, Oneida County, New York",...,0,0,0,0,0,131,85,2.9,1.8,3057
3,-1,1400000US36065023702,23702,36,New York,NY,36065,Oneida,36065023702,"Census Tract 237.02, Oneida County, New York",...,0,0,0,0,0,385,136,10.2,3.6,1407
4,-1,1400000US36065023901,23901,36,New York,NY,36065,Oneida,36065023901,"Census Tract 239.01, Oneida County, New York",...,0,0,0,0,0,165,97,7.2,4.3,1646

In [61]:
df.tail() # last 5 rows

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
995,2023,Chemistry,The Nobel Prize in Chemistry 2023,"""for the discovery and synthesis of quantum dots""",1/3,1030,Individual,Louis Brus,1943-00-00,"Cleveland, OH",United States of America,Male,Columbia University,"New York, NY",United States of America,NaN,NaN,NaN
996,2023,Chemistry,The Nobel Prize in Chemistry 2023,"""for the discovery and synthesis of quantum dots""",1/3,1031,Individual,Aleksey Yekimov,1945-00-00,NaN,USSR (now Russia),Male,Nanocrystals Technology Inc.,"New York, NY",United States of America,NaN,NaN,NaN
997,2023,Literature,The Nobel Prize in Literature 2023,"""for his innovative plays and prose which give...",1/1,1032,Individual,Jon Fosse,1959-09-29,Haugesund,Norway,Male,NaN,NaN,NaN,NaN,NaN,NaN
998,2023,Peace,The Nobel Peace Prize 2023,"""for her fight against the oppression of women...",1/1,1033,Individual,Narges Mohammadi,1972-04-21,Zanjan,Iran,Female,NaN,NaN,NaN,NaN,NaN,NaN
999,2023,Economics,The Sveriges Riksbank Prize in Economic Scienc...,"""for having advanced our understanding of wome...",1/1,1034,Individual,Claudia Goldin,1946-00-00,"New York, NY",United States of America,Female,Harvard University,"Cambridge, MA",United States of America,NaN,NaN,NaN

In [62]:
df.tail(2) # last 2 rows

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
998,2023,Peace,The Nobel Peace Prize 2023,"""for her fight against the oppression of women...",1/1,1033,Individual,Narges Mohammadi,1972-04-21,Zanjan,Iran,Female,NaN,NaN,NaN,NaN,NaN,NaN
999,2023,Economics,The Sveriges Riksbank Prize in Economic Scienc...,"""for having advanced our understanding of wome...",1/1,1034,Individual,Claudia Goldin,1946-00-00,"New York, NY",United States of America,Female,Harvard University,"Cambridge, MA",United States of America,NaN,NaN,NaN

### Checking our dataset

In [63]:
# number of rows and columns
df.shape # rows, columns

(1000, 18)

In [64]:
# number of rows
print("The number of roes are ",df.shape[0])
df.shape[0]

The number of roes are  1000

1000

In [65]:
# Number of Colums
print("The number of Colums are ",df.shape[1])
df.shape[1]

The number of Colums are  18

18

In [66]:
# to see all the names of the columns
df.columns

Index(['year', 'category', 'prize', 'motivation', 'prize_share', 'laureate_id',
       'laureate_type', 'full_name', 'birth_date', 'birth_city',
       'birth_country', 'sex', 'organization_name', 'organization_city',
       'organization_country', 'death_date', 'death_city', 'death_country'],
      dtype='object')

In [67]:
for i in df.columns:
  print(i)

year
category
prize
motivation
prize_share
laureate_id
laureate_type
full_name
birth_date
birth_city
birth_country
sex
organization_name
organization_city
organization_country
death_date
death_city
death_country

In [68]:
df_titanic.shape

(891, 26)

In [69]:
df_disaster.shape

(8, 127)

In [71]:
# data struture that pandas use
print(type(df))
print(type(df.columns))
print(type(df.index))

print(type(df_disaster))
print(type(df_titanic))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.indexes.base.Index'>
<class 'pandas.core.indexes.range.RangeIndex'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [73]:
# checking data type of each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  1000 non-null   int64
 1   category              1000 non-null   object
 2   prize                 1000 non-null   object
 3   motivation            912 non-null    object
 4   prize_share           1000 non-null   object
 5   laureate_id           1000 non-null   int64
 6   laureate_type         1000 non-null   object
 7   full_name             1000 non-null   object
 8   birth_date            968 non-null    object
 9   birth_city            964 non-null    object
 10  birth_country         969 non-null    object
 11  sex                   970 non-null    object
 12  organization_name     736 non-null    object
 13  organization_city     735 non-null    object
 14  organization_country  735 non-null    object
 15  death_date            596 non-null    object
 16  death_city            579 non-null    object
 17  death_country         585 non-null    object
dtypes: int64(2), object(16)
memory usage: 140.8+ KB

In [74]:
# stats description
df.describe()

              year  laureate_id
count  1000.000000  1000.000000
mean   1973.721000   509.099000
std      34.523195   298.130617
min    1901.000000     1.000000
25%    1949.750000   250.750000
50%    1979.000000   500.500000
75%    2003.000000   764.250000
max    2023.000000  1034.000000

In [75]:
  # stats description on all columns
df.describe(include="all")

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
count,1000.000000,1000,1000,912,1000,1000.000000,1000,1000,968,964,969,970,736,735,735,596,579,585
unique,NaN,6,621,615,4,NaN,2,993,949,649,129,2,325,195,29,585,293,50
top,NaN,Medicine,The Nobel Prize in Chemistry 1972,"""for their studies of extremely fast chemical ...",1/1,NaN,Individual,Comité international de la Croix Rouge (Intern...,1932-10-24,"New York, NY",United States of America,Male,University of California,"Cambridge, MA",United States of America,2013-11-19,Paris,United States of America
freq,NaN,227,3,3,358,NaN,966,3,2,55,291,905,36,53,385,2,27,206
mean,1973.721000,NaN,NaN,NaN,NaN,509.099000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,34.523195,NaN,NaN,NaN,NaN,298.130617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1901.000000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1949.750000,NaN,NaN,NaN,NaN,250.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1979.000000,NaN,NaN,NaN,NaN,500.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2003.000000,NaN,NaN,NaN,NaN,764.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2023.000000,NaN,NaN,NaN,NaN,1034.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
# stats description on categorical columns
# df.describe(include='object')
df.describe(include="object")

,category,prize,motivation,prize_share,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
count,1000,1000,912,1000,1000,1000,968,964,969,970,736,735,735,596,579,585
unique,6,621,615,4,2,993,949,649,129,2,325,195,29,585,293,50
top,Medicine,The Nobel Prize in Chemistry 1972,"""for their studies of extremely fast chemical ...",1/1,Individual,Comité international de la Croix Rouge (Intern...,1932-10-24,"New York, NY",United States of America,Male,University of California,"Cambridge, MA",United States of America,2013-11-19,Paris,United States of America
freq,227,3,3,358,966,3,2,55,291,905,36,53,385,2,27,206

### Filtering Data

##### Column Wise Filtering

In [79]:
df.head(2)

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,NaN,NaN,NaN,1907-09-07,Châtenay,France

In [80]:
df['year'] # to get the one column

0      1901
1      1901
2      1901
3      1901
4      1901
       ...
995    2023
996    2023
997    2023
998    2023
999    2023
Name: year, Length: 1000, dtype: int64

In [81]:
df.year # to get the one column

0      1901
1      1901
2      1901
3      1901
4      1901
       ...
995    2023
996    2023
997    2023
998    2023
999    2023
Name: year, Length: 1000, dtype: int64

In [83]:
df.category # to get the one column

0       Chemistry
1      Literature
2        Medicine
3           Peace
4           Peace
          ...
995     Chemistry
996     Chemistry
997    Literature
998         Peace
999     Economics
Name: category, Length: 1000, dtype: object

In [84]:
df["category"] # to get the one column

0       Chemistry
1      Literature
2        Medicine
3           Peace
4           Peace
          ...
995     Chemistry
996     Chemistry
997    Literature
998         Peace
999     Economics
Name: category, Length: 1000, dtype: object

In [96]:
df[['year','category']] # to get the multiple columns

     year    category
0    1901   Chemistry
1    1901  Literature
2    1901    Medicine
3    1901       Peace
4    1901       Peace
..    ...         ...
995  2023   Chemistry
996  2023   Chemistry
997  2023  Literature
998  2023       Peace
999  2023   Economics

[1000 rows x 2 columns]

In [89]:
df[["year","category","full_name","birth_date"]]

     year    category                     full_name  birth_date
0    1901   Chemistry  Jacobus Henricus van 't Hoff  1852-08-30
1    1901  Literature               Sully Prudhomme  1839-03-16
2    1901    Medicine        Emil Adolf von Behring  1854-03-15
3    1901       Peace             Jean Henry Dunant  1828-05-08
4    1901       Peace                Frédéric Passy  1822-05-20
..    ...         ...                           ...         ...
995  2023   Chemistry                    Louis Brus  1943-00-00
996  2023   Chemistry               Aleksey Yekimov  1945-00-00
997  2023  Literature                     Jon Fosse  1959-09-29
998  2023       Peace              Narges Mohammadi  1972-04-21
999  2023   Economics                Claudia Goldin  1946-00-00

[1000 rows x 4 columns]

In [97]:
# to get the rows in which sex is Male
df[df["sex"]=="Male"]

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,NaN,NaN,NaN,1907-09-07,Châtenay,France
2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,1917-03-31,Marburg,Germany
3,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,NaN,NaN,NaN,1910-10-30,Heiden,Switzerland
4,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,463,Individual,Frédéric Passy,1822-05-20,Paris,France,Male,NaN,NaN,NaN,1912-06-12,Paris,France
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,2023,Physics,The Nobel Prize in Physics 2023,"""for experimental methods that generate attose...",1/3,1027,Individual,Ferenc Krausz,1962-05-17,Mór,Hungary,Male,Max Planck Institute of Quantum Optics,Garching,Germany,NaN,NaN,NaN
994,2023,Chemistry,The Nobel Prize in Chemistry 2023,"""for the discovery and synthesis of quantum dots""",1/3,1029,Individual,Moungi Bawendi,1961-00-00,Paris,France,Male,Massachusetts Institute of Technology (MIT),"Cambridge, MA",United States of America,NaN,NaN,NaN
995,2023,Chemistry,The Nobel Prize in Chemistry 2023,"""for the discovery and synthesis of quantum dots""",1/3,1030,Individual,Louis Brus,1943-00-00,"Cleveland, OH",United States of America,Male,Columbia University,"New York, NY",United States of America,NaN,NaN,NaN
996,2023,Chemistry,The Nobel Prize in Chemistry 2023,"""for the discovery and synthesis of quantum dots""",1/3,1031,Individual,Aleksey Yekimov,1945-00-00,NaN,USSR (now Russia),Male,Nanocrystals Technology Inc.,"New York, NY",United States of America,NaN,NaN,NaN
997,2023,Literature,The Nobel Prize in Literature 2023,"""for his innovative plays and prose which give...",1/1,1032,Individual,Jon Fosse,1959-09-29,Haugesund,Norway,Male,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
# what conditional statements look likes in pandas
df['sex']=='Male'

0       True
1       True
2       True
3       True
4       True
       ...
995     True
996     True
997     True
998    False
999    False
Name: sex, Length: 1000, dtype: bool

In [99]:
# to get the rows in which sex is female (head())

df[df["sex"]=="Female"].head()

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
19,1903,Physics,The Nobel Prize in Physics 1903,"""in recognition of the extraordinary services ...",1/4,6,Individual,"Marie Curie, née Sklodowska",1867-11-07,Warsaw,Russian Empire (Poland),Female,NaN,NaN,NaN,1934-07-04,Sallanches,France
29,1905,Peace,The Nobel Peace Prize 1905,NaN,1/1,468,Individual,"Baroness Bertha Sophie Felicita von Suttner, n...",1843-06-09,Prague,Austrian Empire (Czech Republic),Female,NaN,NaN,NaN,1914-06-21,Vienna,Austria
51,1909,Literature,The Nobel Prize in Literature 1909,"""in appreciation of the lofty idealism, vivid ...",1/1,579,Individual,Selma Ottilia Lovisa Lagerlöf,1858-11-20,Mårbacka,Sweden,Female,NaN,NaN,NaN,1940-03-16,Mårbacka,Sweden
62,1911,Chemistry,The Nobel Prize in Chemistry 1911,"""in recognition of her services to the advance...",1/1,6,Individual,"Marie Curie, née Sklodowska",1867-11-07,Warsaw,Russian Empire (Poland),Female,Sorbonne University,Paris,France,1934-07-04,Sallanches,France
128,1926,Literature,The Nobel Prize in Literature 1926,"""for her idealistically inspired writings whic...",1/1,597,Individual,Grazia Deledda,1871-09-27,"Nuoro, Sardinia",Italy,Female,NaN,NaN,NaN,1936-08-15,Rome,Italy

syntax for multiple conditions
- df[(condition1) & (condition2) & (condition3)]
- df[(condition1) | (condition2) | (condition3)]

In [100]:
# to get the nobel prize winners from 1920 to 1950
df[(df["year"]>= 1920) & (df["year"]<= 1950)]

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
97,1920,Chemistry,The Nobel Prize in Chemistry 1920,"""in recognition of his work in thermochemistry""",1/1,178,Individual,Walther Hermann Nernst,1864-06-25,Briesen,Prussia (Germany),Male,Berlin University,Berlin,Germany,1941-11-18,Muskau,Germany
98,1920,Literature,The Nobel Prize in Literature 1920,"""for his monumental work, <I>Growth of the Soi...",1/1,589,Individual,Knut Pedersen Hamsun,1859-08-04,Lom,Norway,Male,NaN,NaN,NaN,1952-02-19,Grimstad,Norway
99,1920,Medicine,The Nobel Prize in Physiology or Medicine 1920,"""for his discovery of the capillary motor regu...",1/1,310,Individual,Schack August Steenberg Krogh,1874-11-15,Grenå,Denmark,Male,Copenhagen University,Copenhagen,Denmark,1949-09-13,Copenhagen,Denmark
100,1920,Peace,The Nobel Peace Prize 1920,NaN,1/1,484,Individual,Léon Victor Auguste Bourgeois,1851-05-21,Paris,France,Male,NaN,NaN,NaN,1925-09-29,Épernay,France
101,1920,Physics,The Nobel Prize in Physics 1920,"""in recognition of the service he has rendered...",1/1,25,Individual,Charles Edouard Guillaume,1861-02-15,Fleurier,Switzerland,Male,Bureau International des Poids et Mesures (Int...,Sèvres,France,1938-06-13,Sèvres,France
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,1950,Medicine,The Nobel Prize in Physiology or Medicine 1950,"""for their discoveries relating to the hormone...",1/3,349,Individual,Edward Calvin Kendall,1886-03-08,"South Norwalk, CT",United States of America,Male,Mayo Clinic,"Rochester, MN",United States of America,1972-05-04,"Princeton, NJ",United States of America
254,1950,Medicine,The Nobel Prize in Physiology or Medicine 1950,"""for their discoveries relating to the hormone...",1/3,350,Individual,Tadeus Reichstein,1897-07-20,Wloclawek,Poland,Male,Basel University,Basel,Switzerland,1996-08-01,Basel,Switzerland
255,1950,Medicine,The Nobel Prize in Physiology or Medicine 1950,"""for their discoveries relating to the hormone...",1/3,351,Individual,Philip Showalter Hench,1896-02-28,"Pittsburgh, PA",United States of America,Male,Mayo Clinic,"Rochester, MN",United States of America,1965-03-30,Ocho Rios,Jamaica
256,1950,Peace,The Nobel Peace Prize 1950,NaN,1/1,511,Individual,Ralph Bunche,1904-08-07,"Detroit, MI",United States of America,Male,Harvard University,"Cambridge, MA",United States of America,1971-12-09,"New York, NY",United States of America
257,1950,Physics,The Nobel Prize in Physics 1950,"""for his development of the photographic metho...",1/1,55,Individual,Cecil Frank Powell,1903-12-05,Tonbridge,United Kingdom,Male,Bristol University,Bristol,United Kingdom,1969-08-09,NaN,Italy

In [102]:
# to get the nobel prize winners ]where category is Physics or Chemistry

df[(df["category"]== "Physics") | (df["category"]== "Physics")]

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
5,1901,Physics,The Nobel Prize in Physics 1901,"""in recognition of the extraordinary services ...",1/1,1,Individual,Wilhelm Conrad Röntgen,1845-03-27,Lennep (Remscheid),Prussia (Germany),Male,Munich University,Munich,Germany,1923-02-10,Munich,Germany
11,1902,Physics,The Nobel Prize in Physics 1902,"""in recognition of the extraordinary service t...",1/2,2,Individual,Hendrik Antoon Lorentz,1853-07-18,Arnhem,Netherlands,Male,Leiden University,Leiden,Netherlands,1928-02-04,NaN,Netherlands
12,1902,Physics,The Nobel Prize in Physics 1902,"""in recognition of the extraordinary service t...",1/2,3,Individual,Pieter Zeeman,1865-05-25,Zonnemaire,Netherlands,Male,Amsterdam University,Amsterdam,Netherlands,1943-10-09,Amsterdam,Netherlands
17,1903,Physics,The Nobel Prize in Physics 1903,"""in recognition of the extraordinary services ...",1/2,4,Individual,Antoine Henri Becquerel,1852-12-15,Paris,France,Male,École Polytechnique,Paris,France,1908-08-25,NaN,France
18,1903,Physics,The Nobel Prize in Physics 1903,"""in recognition of the extraordinary services ...",1/4,5,Individual,Pierre Curie,1859-05-15,Paris,France,Male,École municipale de physique et de chimie indu...,Paris,France,1906-04-19,Paris,France
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
978,2022,Physics,The Nobel Prize in Physics 2022,"""for experiments with entangled photons establ...",1/3,1013,Individual,John Clauser,1942-12-01,"Pasadena, CA",United States of America,Male,J.F. Clauser & Assoc.,"Walnut Creek, CA",United States of America,NaN,NaN,NaN
979,2022,Physics,The Nobel Prize in Physics 2022,"""for experiments with entangled photons establ...",1/3,1014,Individual,Anton Zeilinger,1945-05-20,Ried im Innkreis,Austria,Male,University of Vienna,Vienna,Austria,NaN,NaN,NaN
991,2023,Physics,The Nobel Prize in Physics 2023,"""for experimental methods that generate attose...",1/3,1026,Individual,Pierre Agostini,1941-07-23,Tunis,French protectorate of Tunisia (now Tunisia),Male,The Ohio State University,"Columbus, OH",United States of America,NaN,NaN,NaN
992,2023,Physics,The Nobel Prize in Physics 2023,"""for experimental methods that generate attose...",1/3,1027,Individual,Ferenc Krausz,1962-05-17,Mór,Hungary,Male,Max Planck Institute of Quantum Optics,Garching,Germany,NaN,NaN,NaN
993,2023,Physics,The Nobel Prize in Physics 2023,"""for experimental methods that generate attose...",1/3,1028,Individual,Anne L’Huillier,1958-08-16,Paris,France,Female,Lund University,Lund,Sweden,NaN,NaN,NaN

In [105]:
# write a condition in which you use & and | both
df[(df["year"]>= 1920) & (df["year"]<= 1950) & (df["category"]== "Physics") | (df["category"]== "Physics")]

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
5,1901,Physics,The Nobel Prize in Physics 1901,"""in recognition of the extraordinary services ...",1/1,1,Individual,Wilhelm Conrad Röntgen,1845-03-27,Lennep (Remscheid),Prussia (Germany),Male,Munich University,Munich,Germany,1923-02-10,Munich,Germany
11,1902,Physics,The Nobel Prize in Physics 1902,"""in recognition of the extraordinary service t...",1/2,2,Individual,Hendrik Antoon Lorentz,1853-07-18,Arnhem,Netherlands,Male,Leiden University,Leiden,Netherlands,1928-02-04,NaN,Netherlands
12,1902,Physics,The Nobel Prize in Physics 1902,"""in recognition of the extraordinary service t...",1/2,3,Individual,Pieter Zeeman,1865-05-25,Zonnemaire,Netherlands,Male,Amsterdam University,Amsterdam,Netherlands,1943-10-09,Amsterdam,Netherlands
17,1903,Physics,The Nobel Prize in Physics 1903,"""in recognition of the extraordinary services ...",1/2,4,Individual,Antoine Henri Becquerel,1852-12-15,Paris,France,Male,École Polytechnique,Paris,France,1908-08-25,NaN,France
18,1903,Physics,The Nobel Prize in Physics 1903,"""in recognition of the extraordinary services ...",1/4,5,Individual,Pierre Curie,1859-05-15,Paris,France,Male,École municipale de physique et de chimie indu...,Paris,France,1906-04-19,Paris,France
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
978,2022,Physics,The Nobel Prize in Physics 2022,"""for experiments with entangled photons establ...",1/3,1013,Individual,John Clauser,1942-12-01,"Pasadena, CA",United States of America,Male,J.F. Clauser & Assoc.,"Walnut Creek, CA",United States of America,NaN,NaN,NaN
979,2022,Physics,The Nobel Prize in Physics 2022,"""for experiments with entangled photons establ...",1/3,1014,Individual,Anton Zeilinger,1945-05-20,Ried im Innkreis,Austria,Male,University of Vienna,Vienna,Austria,NaN,NaN,NaN
991,2023,Physics,The Nobel Prize in Physics 2023,"""for experimental methods that generate attose...",1/3,1026,Individual,Pierre Agostini,1941-07-23,Tunis,French protectorate of Tunisia (now Tunisia),Male,The Ohio State University,"Columbus, OH",United States of America,NaN,NaN,NaN
992,2023,Physics,The Nobel Prize in Physics 2023,"""for experimental methods that generate attose...",1/3,1027,Individual,Ferenc Krausz,1962-05-17,Mór,Hungary,Male,Max Planck Institute of Quantum Optics,Garching,Germany,NaN,NaN,NaN
993,2023,Physics,The Nobel Prize in Physics 2023,"""for experimental methods that generate attose...",1/3,1028,Individual,Anne L’Huillier,1958-08-16,Paris,France,Female,Lund University,Lund,Sweden,NaN,NaN,NaN