<a href="https://colab.research.google.com/github/aminsadruddin/Pandas-Classes-/blob/main/Pandas_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

Basic data structures in pandas
Pandas provides two types of classes for handling data:

- `Series` :   A one-dimensional labeled array holding data of any type
such as integers, strings, Python objects etc. (Column in Spreadsheet)
- `DataFrame` :   A two-dimensional data structure that holds data like a two-dimension array or a table with rows and columns.

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Pandas
# Series
# Dataframe
# Indesing and Slicing
# Data input and Output
# data cleaning and processing

## Series

In [ ]:
# series
# 1 dimensional labeled array, capable to holding any data (int,str,floot)
# coloum in speratesheet or 1 dimensional
data = pd.Series([1,2,3,4,5,6,7,8,9,10])
print (data)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
# series with index
# row means index

data1 = pd.Series([1,2,3,4,5], index = ["a","b","c","d","e"])
print (data1)

dada2 = pd.Series([1,2,3,4,5], index = [1,2,3,4,5])
print (dada2)

a    1
b    2
c    3
d    4
e    5
dtype: int64
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [ ]:
print (data1[3])
print (data1["a"])

4
1

<ipython-input-5-6d55cdc23e66>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print (data1[3])

In [ ]:
# Creating a Series from a Dictionary
import pandas as pd

data2 = pd.Series({"a":1,"b":2,"c":3,"d":4,"e":5})
print (data2)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
# Scale Value
import pandas as pd
data3 = pd.Series(5, index = ["a","b","c","d","e"])
print (data3)

a    5
b    5
c    5
d    5
e    5
dtype: int64

In [ ]:
data33 = pd.Series(5)
print (data33)

0    5
dtype: int64

In [ ]:
data34 = pd.Series(5, index = ["a"])
print (data34)

a    5
dtype: int64

In [ ]:
data35 = pd.Series(6, index = ["a","b","c","d","e"])
print (data35)

a    6
b    6
c    6
d    6
e    6
dtype: int64

In [ ]:
print (data3[0])
print (data3[3])
print (data2[0])
print (data1[3])
print (data1["a"])
print (data1["e"])

5
5
1
4
1
5

<ipython-input-11-9eac568703ab>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print (data3[0])
<ipython-input-11-9eac568703ab>:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print (data3[3])
<ipython-input-11-9eac568703ab>:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print (data2[0])
<ipython-input-11-9eac568703ab>:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print (data1[3])

In [ ]:
print (data1["a"])

1

In [ ]:
# Slicing

data4 = pd.Series([10,20,30,40,50,60,70,80,90,100], index = ["a","b","c","d","e","f","g","h","i","j"])
print (data4)

a     10
b     20
c     30
d     40
e     50
f     60
g     70
h     80
i     90
j    100
dtype: int64

In [ ]:
data4 [0:5]  # posotional Slicing

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [ ]:
data4["a":"g"] # Label Slicing

a    10
b    20
c    30
d    40
e    50
f    60
g    70
dtype: int64

In [ ]:
# Operations on pandas series
# arithmatic Operations

data5 = pd.Series([1,2,3,4,5], index = ["a","b","c","d","e"])
data6 = pd.Series([10,20,30,40,50], index = ["a","b","c","d","e"])
print (data5)
print (data6)

a    1
b    2
c    3
d    4
e    5
dtype: int64
a    10
b    20
c    30
d    40
e    50
dtype: int64

In [ ]:
data7 = data4 + data5
print (data7)

a    11.0
b    22.0
c    33.0
d    44.0
e    55.0
f     NaN
g     NaN
h     NaN
i     NaN
j     NaN
dtype: float64

In [ ]:
data8 = data5+data6
print (data8)

a    11
b    22
c    33
d    44
e    55
dtype: int64

In [ ]:
print (data7)
print (data7.isnull())

a    11.0
b    22.0
c    33.0
d    44.0
e    55.0
f     NaN
g     NaN
h     NaN
i     NaN
j     NaN
dtype: float64
a    False
b    False
c    False
d    False
e    False
f     True
g     True
h     True
i     True
j     True
dtype: bool

In [ ]:
print (data7.isnull())

a    False
b    False
c    False
d    False
e    False
f     True
g     True
h     True
i     True
j     True
dtype: bool

In [ ]:
# multiply and +

data9 = data5 * data6
print (data5)
print (data6)
print ("result")
print (data9)

a    1
b    2
c    3
d    4
e    5
dtype: int64
a    10
b    20
c    30
d    40
e    50
dtype: int64
result
a     10
b     40
c     90
d    160
e    250
dtype: int64

In [ ]:
# square

print (data6)

import numpy as np
data10 = np.sqrt(data6)
print (data10)

a    10
b    20
c    30
d    40
e    50
dtype: int64
a    3.162278
b    4.472136
c    5.477226
d    6.324555
e    7.071068
dtype: float64

In [ ]:
# BOOLEAN index

print (data6)
print (data6 > 20)

a    10
b    20
c    30
d    40
e    50
dtype: int64
a    False
b    False
c     True
d     True
e     True
dtype: bool

In [ ]:
print (data6[data6 > 20])

c    30
d    40
e    50
dtype: int64

In [ ]:
# Sum
print (data6.sum())

150

In [ ]:
# mean
print (data6.mean())

30.0

In [ ]:
# count
print (data6.count())

5

In [ ]:
# delet
data6 = data6.drop("a") # drop is dele row of series
print (data6)

b    20
c    30
d    40
e    50
dtype: int64

In [ ]:
data6 = pd.Series([10,20,30,40,50,60,10,10] , index = ["a","b","c","d","e","f","g","h"])
print (data6)
data6[:-1]

a    10
b    20
c    30
d    40
e    50
f    60
g    10
h    10
dtype: int64

a    10
b    20
c    30
d    40
e    50
f    60
g    10
dtype: int64

In [ ]:
# unique
print (data6.unique())

[10 20 30 40 50 60]

In [ ]:
# value_count
print (data6.value_counts())

10    3
20    1
30    1
40    1
50    1
60    1
Name: count, dtype: int64

In [ ]:
## Detecting Missing Data
import numpy as np
import pandas as pd
data_nun = pd.Series([1,2,3,np.nan,5,6,np.nan,8,9,10])
print (data_nun)
print ("________________________")

# Detecting Missing Data   .isna()    always boolean

print(data_nun.isna())

0     1.0
1     2.0
2     3.0
3     NaN
4     5.0
5     6.0
6     NaN
7     8.0
8     9.0
9    10.0
dtype: float64
________________________
0    False
1    False
2    False
3     True
4    False
5    False
6     True
7    False
8    False
9    False
dtype: bool

In [ ]:
# filling the missing data
print (data_nun.fillna(0))
print ("________________________")
data_nun.fillna("a")

0     1.0
1     2.0
2     3.0
3     0.0
4     5.0
5     6.0
6     0.0
7     8.0
8     9.0
9    10.0
dtype: float64
________________________

0     1.0
1     2.0
2     3.0
3       a
4     5.0
5     6.0
6       a
7     8.0
8     9.0
9    10.0
dtype: object

## DataFrame

In [ ]:
# A two-dimensional data structure that holds data like a two-dimension array or a table with rows and columns.

# datafram from dictonary
data = { "Name": [ "Amin" , " Karim", "Saleem" , "Aslam"],
         "Age": [40,38,42,50],
         "city": [ "karachi","lahore","islamabad","newyork" ],
          "work":[ "Banking", "officer", "boss", "burse"]}

data_fram = pd.DataFrame(data)

In [ ]:
print (data_fram)

     Name  Age       city     work
0    Amin   40    karachi  Banking
1   Karim   38     lahore  officer
2  Saleem   42  islamabad     boss
3   Aslam   50    newyork    burse

In [ ]:
data_fram.head()

     Name  Age       city     work
0    Amin   40    karachi  Banking
1   Karim   38     lahore  officer
2  Saleem   42  islamabad     boss
3   Aslam   50    newyork    burse

In [ ]:
data_fram.describe()

             Age
count   4.000000
mean   42.500000
std     5.259911
min    38.000000
25%    39.500000
50%    41.000000
75%    44.000000
max    50.000000

In [ ]:
data_fram.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   city    4 non-null      object
 3   work    4 non-null      object
dtypes: int64(1), object(3)
memory usage: 256.0+ bytes

In [ ]:
data_fram.shape

(4, 4)

In [ ]:
print("rows ", data_fram.shape[1])

rows  4

In [ ]:
for i in data_fram.columns:
  print(i)

Name
Age
city
work

In [ ]:
data_fram.tail()

     Name  Age       city     work
0    Amin   40    karachi  Banking
1   Karim   38     lahore  officer
2  Saleem   42  islamabad     boss
3   Aslam   50    newyork    burse

In [ ]:
data_fram.columns

Index(['Name', 'Age', 'city', 'work'], dtype='object')

In [ ]:
data_fram.count()

Name    4
Age     4
city    4
work    4
dtype: int64

In [ ]:
data_fram.max()

Name     Saleem
Age          50
city    newyork
work    officer
dtype: object

In [ ]:
data_fram.min()

Name        Karim
Age            38
city    islamabad
work      Banking
dtype: object

In [ ]:
data_fram.sum()

Name            Amin KarimSaleemAslam
Age                               170
city    karachilahoreislamabadnewyork
work          Bankingofficerbossburse
dtype: object